In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Rawdata.csv')

In [3]:
df.drop('Unnamed: 0',axis='columns', inplace=True)

In [4]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [5]:
!df.info()

'df.info' is not recognized as an internal or external command,
operable program or batch file.

In [6]:
df = df[df['Salary Estimate'] != '-1' ]

In [7]:
#salary parsing
### The data consists of hourly salary and employee_provided 
### So will be making two more columns

In [8]:
df["Salary Estimate"] = df["Salary Estimate"].apply(lambda x: x.split('(')[0])

In [9]:
print(df.columns)

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

In [10]:
df["Salary Estimate"] = df["Salary Estimate"].apply(lambda x: x.replace('K','').replace("$",''))

In [11]:
df['hourly'] =df["Salary Estimate"].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df['employee_provided'] =df["Salary Estimate"].apply(lambda x: 1 if 'employee provided salary:' in x.lower() else 0)

In [12]:
df['Salary Estimate'] = df['Salary Estimate'].apply(
  lambda x : x.replace('Employee Provided Salary','')
                .replace(':', '')
                .replace('Per Hour', '')
)

In [13]:
df['Salary Estimate']=df['Salary Estimate'].apply(lambda x : x.replace('Employer Provided Salary','').replace(':','').replace('Per Hour',''))

In [14]:
print(df.columns)

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employee_provided'],
      dtype='object')

In [15]:
df.columns = df.columns.str.strip()
print(df.columns)

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employee_provided'],
      dtype='object')

In [16]:
#Min Salary and Max Salary seperation
df['min_salary'] = df['Salary Estimate'].apply(lambda x: x.split('-')[0]).astype(int)
df['max_salary'] = df['Salary Estimate'].apply(lambda x: x.split('-')[1]).astype(int)

In [17]:
# Now extract min and max
df['avg_salary'] = (df.min_salary+df.max_salary)/2

### Some salary values are hourly which can be seen in hourly column

In [18]:
#**Company name**

In [19]:
df['Company Name']=df["Company Name"].apply(lambda x: x.split('\n'))

state of the job

In [20]:
df['job_state']= df['Location'].apply(lambda x : x.split(',')[1])

check if the job is in same location where the headquartera is located

In [21]:
df['same_location']=df.apply(lambda x : 1 if x.Location == x.Headquarters else 0 , axis = 1)

Age of the Company

In [22]:
df['age']=df['Founded'].apply(lambda x : x if x<1 else 2022-x)

Parsing of job description

In [23]:
df['Job Description'][0]

'Data Scientist\nLocation: Albuquerque, NM\nEducation Required: Bachelor’s degree required, preferably in math, engineering, business, or the sciences.\nSkills Required:\nBachelor’s Degree in relevant field, e.g., math, data analysis, database, computer science, Artificial Intelligence (AI); three years’ experience credit for Master’s degree; five years’ experience credit for a Ph.D\nApplicant should be proficient in the use of Power BI, Tableau, Python, MATLAB, Microsoft Word, PowerPoint, Excel, and working knowledge of MS Access, LMS, SAS, data visualization tools, and have a strong algorithmic aptitude\nExcellent verbal and written communication skills, and quantitative analytical skills are required\nApplicant must be able to work in a team environment\nU.S. citizenship and ability to obtain a DoD Secret Clearance required\nResponsibilities: The applicant will be responsible for formulating analytical solutions to complex data problems; creating data analytic models to improve data metrics; analyzing customer behavior and trends; delivering insights to stakeholders, as well as designing and crafting reports, dashboards, models, and algorithms to make data insights actionable; selecting features, building and optimizing classifiers using machine learning techniques; data mining using state-of-the-art methods, extending organization’s data with third party sources of information when needed; enhancing data collection procedures to include information that is relevant for building analytic systems; processing, cleansing, and verifying the integrity of data used for analysis; doing ad-hoc analysis and presenting results in a clear manner; and creating automated anomaly detection systems and constant tracking of its performance.\nBenefits:\nWe offer competitive salaries commensurate with education and experience. We have an excellent benefits package that includes:\nComprehensive health, dental, life, long and short term disability insurance\n100% Company funded Retirement Plans\nGenerous vacation, holiday and sick pay plans\nTuition assistance\n\nBenefits are provided to employees regularly working a minimum of 30 hours per week.\n\nTecolote Research is a private, employee-owned corporation where people are our primary resource. Our investments in technology and training give our employees the tools to ensure our clients are provided the solutions they need, and our very high employee retention rate and stable workforce is an added value to our customers. Apply now to connect with a company that invests in you.'

In [24]:
#python
df['python']=df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
df['python'].value_counts()

python
1    392
0    350
Name: count, dtype: int64

In [25]:
df['R']=df['Job Description'].apply(lambda x: 1 if 'R' in x.lower() else 0)
df.R.value_counts()

R
0    742
Name: count, dtype: int64

In [26]:
df['AWS']=df['Job Description'].apply(lambda x: 1 if 'AWS' in x.lower() else 0)
df.R.value_counts()

R
0    742
Name: count, dtype: int64

In [27]:
df['Excel']=df['Job Description'].apply(lambda x: 1 if 'Excel' in x.lower() else 0)
df.R.value_counts()

R
0    742
Name: count, dtype: int64

#simplifying Job Titles

In [28]:
df['Job Title'][1]

'Healthcare Data Scientist'

In [29]:
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'analyst' in title.lower():
        return 'analyst'
    elif 'machine learning' in title.lower():
        return 'mle'
    elif 'manager' in title.lower():
        return 'manager'
    elif 'director' in title.lower():
        return 'director'
    else:
        return 'na'

In [30]:
df['Job_simp']=df['Job Title'].apply(title_simplifier)

In [31]:
df['Job_simp'].value_counts()

Job_simp
data scientist    279
na                184
data engineer     119
analyst           102
manager            22
mle                22
director           14
Name: count, dtype: int64

Check for the positions(Senior Or Junior etc)

In [32]:
def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'lead' in title.lower():
        return 'senior'
    if 'sr' in title.lower() or 'senior' in title.lower():
            return 'jr'
    else:
        return 'na'

In [33]:
df['seniority'] = df['Job Title'].apply(seniority)
df.seniority.value_counts()

seniority
na        547
senior    195
Name: count, dtype: int64

In [34]:
df['job_state'].value_counts()

job_state
CA             151
MA             103
NY              72
VA              41
IL              40
MD              35
PA              33
TX              28
WA              21
NC              21
NJ              17
FL              16
OH              14
TN              13
DC              11
CO              11
IN              10
WI              10
UT              10
AZ               9
MO               9
AL               8
DE               6
KY               6
MI               6
GA               6
IA               5
CT               5
NE               4
OR               4
LA               4
NM               3
KS               3
MN               2
ID               2
Los Angeles      1
RI               1
SC               1
Name: count, dtype: int64

In [35]:
df['Competitors'].head()

0                                                   -1
1                                                   -1
2                                                   -1
3    Oak Ridge National Laboratory, National Renewa...
4                 Commerce Signals, Cardlytics, Yodlee
Name: Competitors, dtype: object

In [36]:
# Competator count
df['num_comp'] =df['Competitors'].apply(lambda x : len(',')if x!= -1 else 0)

In [37]:
#  Job description length 
df['desc_len'] = df['Job Description'].apply(lambda x: len(x))
df['desc_len']

0      2536
1      4783
2      3461
3      3883
4      2728
       ...
950    6162
951    6130
952    3078
953    1642
955    3673
Name: desc_len, Length: 742, dtype: int64

In [38]:
#hourly wage to annual

df['min_salary'] = df.apply(lambda x: x.min_salary*2 if x.hourly ==1 else x.min_salary, axis =1)
df['max_salary'] = df.apply(lambda x: x.max_salary*2 if x.hourly ==1 else x.max_salary, axis =1)

In [39]:
df[df.hourly ==1][['hourly','min_salary','max_salary']]

     hourly  min_salary  max_salary
197       1          34          48
209       1          42          68
240       1          36          50
247       1          42          68
257       1          30          50
307       1          34          48
337       1          42          68
427       1          36          50
437       1          48          78
456       1          42          68
464       1          50          56
522       1          42          58
523       1          20          34
632       1          36          50
652       1          48          78
682       1          42          68
694       1          50          56
786       1          42          58
787       1          20          34
823       1          54          94
854       1          36          50
875       1          48          78
919       1          42          68
936       1          50          56

In [40]:
df.to_excel("cleaned_salary_data.xlsx", index=False)